@use 'sass:color';
@import '~style/colors';
@import '~style/typography';

.header {
  @extend .font-family-primary;
  @extend .font-color-dark;

  text-align: center;
  margin-bottom: 48px;
}

.wrapper {
  background-color: $white-color;
  box-shadow: 0px 4px 7px color.adjust($gray-shadow-05-color, $alpha: +0.25);
}

.formStyle {
  width: 470px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;
  margin: 0 auto;
  padding: 24px 0px 34px 0px;
}

.inputForm {
  border-radius: 5px;
  background-color: $white-color;
  min-height: 347px;
  margin-bottom: 25px;
}

.buttonContent {
  margin-top: 24px;
  margin-bottom: 50px;
  padding: 16px 40px;
  background-color: $white-color;
}

.actions {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 4px 7px color.adjust($gray-shadow-05-color, $alpha: +0.25);
}
