@use 'sass:color';
@import '~style/colors';
@import '~style/typography';
@import '~style/mixins';

.data {
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  &Content {
    padding: 25px;
    background: $white-color;
    box-shadow: 0px 4px 7px color.change($gray-shadow-05-color, $alpha: 0.4);
    border-radius: 5px;
  }
}

.actions {
  display: flex;
  justify-content: space-between;
}

.actionsWrapper {
  display: flex;
  column-gap: 10px;
}
