@import '~style/colors';
@import '~style/typography';

.select {
  height: 30px;
  width: 110px;
  text-align: center;
  border-radius: 5px;
  background: $blue-02-color;

  @extend .font-family-primary;
  @extend .font-weight-regular;
  @extend .font-size-xs;
  @extend .font-color-white;
}
